<%= simple_form_for @employee, :html => { :multipart => true, :class => 'form-horizontal' } do |f| %>
  <fieldset>
  <legend><%= controller.action_name.capitalize %> Employee</legend>

    <%= f.input :first_name, :as => :string %> <%= f.input :last_name, :as => :string%>

    <div class="field">
      <%= f.label :photo %><br />
      <%= f.file_field :photo %>
    </div>

    <%= f.input :ssn %>

    <%= f.input :date_of_birth, :as => :string, :input_html => {:class => "datepicker"}%>

    <%= f.input :phone, :as => :tel %>

    <%= f.input :role, :collection => %w(admin manager employee) %>

    <%= f.input :active, :as => :radio_buttons %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', employees_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
