<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @employee.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @employee.last_name %>
</p>

<p>
  <b>Ssn:</b>
  <%= @employee.ssn %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @employee.date_of_birth %>
</p>

<p>
  <b>Phone:</b>
  <%= @employee.phone %>
</p>

<p>
  <b>Role:</b>
  <%= @employee.role %>
</p>

<p>
  <b>Active:</b>
  <%= @employee.active %>
</p>


<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
