<div class="row">
  <%= render :partial => "employee_details", :locals => {:employee => @employee}%>
  <div class="span4">
    <%= render :partial => "upcoming_shifts" unless @upcomingShifts.empty? %>
  </div>
</div>
<br/>
<div class="row">
  <div class="span12">
  <h3>Assignment History</h3>
   <table class="table table-striped">
    <thead>
      <tr>
        <th>Store</th>
        <th>Pay Level</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
    </thead>
    <tbody>
      <% @assignments.each do |assignment| %>
        <tr>
          <td><%= link_to assignment.store.name, store_path(assignment.store) %></td>
          <td><%= assignment.pay_level %></td>
          <td><%= assignment.start_date.strftime("%B, %d %y") %></td>
          <td><%= (assignment.end_date.nil?)? link_to(raw("<i class='icon-remove icon-white'></i> End Asignment"), edit_assignment_path(assignment), :class => 'btn btn-mini btn-warning'): assignment.end_date.strftime("%B, %d %Y")%></td>
        </tr>
      <% end %>
    </tbody>
  </table> 
  </div>
</div>

<div class="form-actions">
<% if can? :update, @employee %>
  <%= link_to raw("<i class='icon-plus icon-white'></i> Add a Shift"), new_shift_path(:id => @employee.current_assignment.id), :class => 'btn btn-primary' unless @employee.current_assignment.nil? %>&nbsp;
  <%= link_to raw("<i class='icon-th-list'></i> Display All Employees"), employees_path, :class => 'btn'  %>&nbsp;&nbsp;
  <%= link_to raw("<i class='icon-pencil'></i> Edit #{@employee.proper_name}"), edit_employee_path(@employee), :class => 'btn' %>&nbsp;&nbsp;
  <%= link_to raw("<i class='icon-trash icon-white'></i> Delete #{@employee.proper_name}"), user_path(@empoyee), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
<% end %> 
</div>
