<div class="row">
  <%= render :partial => "employee_details" %>
  <div class="span4">
    <%= render :partial => "upcoming_shifts" unless @upcomingShifts.empty? %>
  </div>
</div>
<div class="row">
  <div class="span12">
    <% weekly_calendar(@events, :date => @date, :include_24_hours => true) do |w|%>
      <% w.week do |shift| %>
      <%= shift.starts_at.strftime('%I:%M%p')%>
      <%= link_to truncate(shift.employee.name), shift_path(shift) %>
      <% end %>
    <% end %>

  </div>
</div>

<div class="form-actions">
  <%= link_to raw("<i class='icon-plus icon-white'></i> Add a Shift"), new_shift_path(:id => @employee.current_assignment.id), :class => 'btn btn-primary' unless @employee.current_assignment.nil? %>&nbsp;
  <%= link_to raw("<i class='icon-th-list'></i> Display All Employees"), employees_path, :class => 'btn'  %>&nbsp;&nbsp;
  <%= link_to raw("<i class='icon-pencil'></i> Edit #{@employee.proper_name}"), edit_employee_path(@employee), :class => 'btn' %>&nbsp;&nbsp;
<%= link_to raw("<i class='icon-trash icon-white'></i> Delete #{@employee.proper_name}"), user_path(@empoyee), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
