<h1>Stores</h1>
<div class="row">
  <div class="span6">
  <table class="table table-striped">
    <thead>
      <tr>
        <%= @sortable.header_link('name', 'Name').html_safe %>
        <th>Active</th>
        <th>Street</th>
        <%=@sortable.header_link('city', 'City').html_safe %>
        <% if logged_in? %>
          <th>Actions</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @stores.each do |store| %>
        <tr>
          <td><%= link_to store.name, store_path(store) %></td>
          <td><%= store.active ? "Yes" : "No" %></td>
          <td><%= store.street %></td>
          <td><%= store.city %></td>
          <% if logged_in? %>
          <td>
            <%= link_to raw("<i class='icon-pencil'></i> Edit"), edit_store_path(store), :class => 'btn btn-mini' %>
            <%= link_to raw("<i class='icon-exclamation-sign icon-white'></i> Deactivate"), store_path(store), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
          </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @stores, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>

  <% if logged_in? %>
    <%= link_to raw("<i class='icon-plus icon-white'></i> Add a New Store"), new_store_path, :class => 'btn btn-primary' %>
  <% end %>
  </div>
  <div class="span6">
    <%= image_tag @image %>
  </div>
</div>
