<h1>Stores</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th>Street</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @stores.alphabetical.each do |store| %>
      <tr>
        <td><%= link_to store.name, store_path(store) %></td>
        <td><%= store.active ? "Yes" : "No" %></td>
        <td><%= store.street %></td>
        <td>
         <div class="btn-group">
          <%= link_to raw("<i class='icon-pencil'></i> Edit"), edit_store_path(store), :class => 'btn btn-mini' %>
          <%= link_to raw("<i class='icon-exclamation-sign icon-white'></i> Deactivate"), store_path(store), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @stores, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>

<%= link_to raw("<i class='icon-plus icon-white'></i> Add a New Store"), new_store_path, :class => 'btn btn-primary' %>
