<div class="row">
  <div class="span6">
    <%= render :partial => "store_details" %>
  </div>
  <div class="span6">
    <%= render :partial => "upcomming_shifts" %>
  </div>
</div>

<div class="row">
<% if logged_in? && current_user.employee.role == "admin" %>
  <%= render :partial => "employees" %>
<%end %>
</div>

<% if logged_in? && current_user.employee.role == "admin" %>
    <div class="form-actions">
      <%= link_to raw("<i class='icon-th-list'></i> Display All Stores"), stores_path, :class => 'btn'  %>&nbsp;&nbsp;
      <%= link_to raw("<i class='icon-pencil'></i> Edit This Store"), edit_store_path(@store), :class => 'btn' %>&nbsp;&nbsp;
      <%= link_to raw("<i class='icon-trash icon-white'></i> Deactivate Store"), store_path(@store), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %> 
    </div>
<%end %>
