<h2><em>Search Results</em></h2>

<table class="table table-striped">
  <thead>
    <tr>
      <%= @EmployeeSortable.header_link('full_name', 'Name').html_safe %>
      <%= @EmployeeSortable.header_link('age', 'Age').html_safe %>
      <th> Store </th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= link_to employee.proper_name, employee_path(employee) %></td>
        <td><%= employee.age %>
        <td><%= link_to employee.current_assignment.store.name, store_path(employee.current_assignment.store) unless employee.current_assignment.nil?%></td>
        <td>
          <div class="btn-group">
          <%= link_to raw("<i class='icon-pencil'></i> Edit"), edit_employee_path(employee), :class => 'btn btn-mini' %>
          <%= link_to raw("<i class='icon-exclamation-sign icon-white'></i> Deactivate"), employee_path(employee), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @employees, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>


