  <fieldset>
    <legend><%= controller.action_name.capitalize %> Shift</legend>

    <%= f.input :employee, :as => :string, :label => 'Employee', :input_html => {:id => "employee_name", :value => (@shift.employee.nil?)? "" : @shift.employee.proper_name}%>

    <%= f.input :assignment_id, :as => :hidden, :input_html => {:id => "assignment_id"}%>
    
    <%= f.input :date, :as => :string, :input_html => {:class => "datepicker", :value => (@shift.date.strftime("%m/%d/%Y") unless @shift.date.nil?)} %>

    <%= f.input :start_time, :as => :time, :minute_step => 15 %>

    <%= f.input(:end_time, :as => :time, :minute_step => 15) if edit%>
    
    <%= f.input :notes, :as => :text %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', shifts_path, :class => 'btn' %>
    </div>
  </fieldset>
